body {
  font-family: 'Open Sans', sans-serif;
  word-wrap: break-word;
  color: #FFF;
  background-color: #EFEFEF;
}

body, #container {
  background-image: image-url("background2.jpg");
}

h1 {
  color: white;
  text-align: center;
  letter-spacing: .5px;
  font-weight: 600;
  line-height: 2;
}

a {
  color: orange;
  font-weight: 900;
  font-size: 48px;
  text-decoration: none;
  text-align: center;
}

a:hover {
  color: rgb(233, 199, 136);
  font-weight: 900;
}

a#hashtag-anchor {
display: block;
position: relative;
 top: -250px;
 visibility: hidden;
}

.tweet-container {
  margin: 5px 5px;
  width: 30%;
  text-align: center;
  padding: 20px 10px;
}

.tweet-picture img {
  width: 80%;
}

.tweet-container section {
  margin: 20px 0px;
}

.tweet-text {
  font-style: italic;
  font-size: 2em;
}

.tweet-username {
  font-weight: bold;
}

.avatar{
 width: 50px;
 height: 50px;
 background-size: cover;
 border-radius: 25px;
 -webkit-border-radius: 25px;
 -moz-border-radius: 25px;
 }

.tweet-created-at {
  text-align: right;
  font-size: .9em;
}

.footer {
  display: block;
  color: rgb(38,189,207);
  margin-top: 30px;
  text-align: center;
}

.background-color-1 {
  background: #A81B1B;
  /*background: rgb(240,186,149);*/
}

.background-color-2 {
  background: black;
  /*background: rgb(38,189,207);*/
}

.background-color-3 {
  background: #F18B39;
  /*background: rgb(26,115,186);*/
}

.background-color-4 {
  background: gray;
  /*background: rgb(177, 28, 84);*/
  /*background: rgb(177, 28, 84);*/
  /*background: rgb(38,189,207);*/
  /*background: rgb(128,201,210);*/
}

.home {
  text-decoration: none;
}

.hashtag-title {
  text-decoration: none;
  z-index: 1;
  background-color: #EFEFEF;
  position: fixed;
  top:0; left:0;
  width: 100%;
 }

 .hashtag-title:hover {
  background-color: #F6F6F6;
 }

